src/ExploreTheWorld.DataGenerator/obj/
src/ExploreTheWorld.DataGenerator/bin/
src/ExploreTheWorld.DataGenerator/ExploreTheWorld.DataGenerator.csproj.user
src/ExploreTheWorld.Data/obj/
src/ExploreTheWorld.Data/bin/
src/.vs/ExploreTheWorld/v15/.suo